@import 'colors.css';

* {
    font-size:13px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:7 0 5 10;
    border-radius:10px;
    background: alpha(@background,.6);
    color: @secondary;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:3px;
    margin:7 0 5 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 7 10 5 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@color9;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#clock{
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#workspaces {
    padding: 0px 4px;
}
#workspaces button {
    all:unset;
    padding: 0px 4px;
    color: @outline;
    transition: all .2s ease;
}
#workspaces button:hover {
    color: @color4;
    border: none;
   
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color4;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: @outline;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: @color4;
    border: none;
   
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color4;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@color7;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#custom-cava {
    color: @color7;
    font-family: "JetBrainsMono Nerd Font Propo";
    padding: 0px 10px;
    margin: 0px 5px;
    /* Fondo opcional si quieres que parezca unido al reproductor */
    background-color: alpha(@background, 0); 
    border-radius: 10px;
}

#custom-separador{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}

#mpris{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}

#mpris button.empty:hover{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}

